################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UnitTestingForCoreApp/v16/.suo
/XUnitTestProject1/obj/XUnitTestProject1.csproj.nuget.g.targets
/XUnitTestProject1/obj/XUnitTestProject1.csproj.nuget.g.props
/XUnitTestProject1/obj/XUnitTestProject1.csproj.nuget.dgspec.json
/XUnitTestProject1/obj/project.nuget.cache
/XUnitTestProject1/obj/project.assets.json
/XUnitTestProject1/obj/Debug/net5.0/XUnitTestProject1.GeneratedMSBuildEditorConfig.editorconfig
/XUnitTestProject1/obj/Debug/net5.0/XUnitTestProject1.csprojAssemblyReference.cache
/XUnitTestProject1/obj/Debug/net5.0/XUnitTestProject1.assets.cache
/XUnitTestProject1/obj/Debug/net5.0/XUnitTestProject1.AssemblyInfoInputs.cache
/XUnitTestProject1/obj/Debug/net5.0/XUnitTestProject1.AssemblyInfo.cs
/XUnitTestProject1/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/UnitTestMSTest/obj/UnitTestMSTest.csproj.nuget.g.targets
/UnitTestMSTest/obj/UnitTestMSTest.csproj.nuget.g.props
/UnitTestMSTest/obj/UnitTestMSTest.csproj.nuget.dgspec.json
/UnitTestMSTest/obj/project.nuget.cache
/UnitTestMSTest/obj/project.assets.json
/UnitTestMSTest/obj/Debug/net5.0/UnitTestMSTest.GeneratedMSBuildEditorConfig.editorconfig
/UnitTestMSTest/obj/Debug/net5.0/UnitTestMSTest.csprojAssemblyReference.cache
/UnitTestMSTest/obj/Debug/net5.0/UnitTestMSTest.assets.cache
/UnitTestMSTest/obj/Debug/net5.0/UnitTestMSTest.AssemblyInfoInputs.cache
/UnitTestMSTest/obj/Debug/net5.0/UnitTestMSTest.AssemblyInfo.cs
/UnitTestMSTest/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/NUnitTestProject1/obj/Debug/net5.0/NUnitTestProject1.GeneratedMSBuildEditorConfig.editorconfig
/NUnitTestProject1/obj/Debug/net5.0/NUnitTestProject1.AssemblyInfoInputs.cache
/NUnitTestProject1/obj/Debug/net5.0/NUnitTestProject1.AssemblyInfo.cs
/NUnitTestProject1/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/ConsoleApp/obj/project.nuget.cache
/ConsoleApp/obj/project.assets.json
/ConsoleApp/obj/Debug/net5.0/ConsoleApp.GeneratedMSBuildEditorConfig.editorconfig
/ConsoleApp/obj/Debug/net5.0/ConsoleApp.csprojAssemblyReference.cache
/ConsoleApp/obj/Debug/net5.0/ConsoleApp.assets.cache
/ConsoleApp/obj/Debug/net5.0/ConsoleApp.AssemblyInfoInputs.cache
/ConsoleApp/obj/Debug/net5.0/ConsoleApp.AssemblyInfo.cs
/ConsoleApp/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/ConsoleApp/obj/ConsoleApp.csproj.nuget.g.targets
/ConsoleApp/obj/ConsoleApp.csproj.nuget.g.props
/ConsoleApp/obj/ConsoleApp.csproj.nuget.dgspec.json
/ClassLibraryCore/obj/project.nuget.cache
/ClassLibraryCore/obj/project.assets.json
/ClassLibraryCore/obj/Debug/net5.0/ClassLibraryCore.GeneratedMSBuildEditorConfig.editorconfig
/ClassLibraryCore/obj/Debug/net5.0/ClassLibraryCore.csprojAssemblyReference.cache
/ClassLibraryCore/obj/Debug/net5.0/ClassLibraryCore.assets.cache
/ClassLibraryCore/obj/Debug/net5.0/ClassLibraryCore.AssemblyInfoInputs.cache
/ClassLibraryCore/obj/Debug/net5.0/ClassLibraryCore.AssemblyInfo.cs
/ClassLibraryCore/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/ClassLibraryCore/obj/ClassLibraryCore.csproj.nuget.g.targets
/ClassLibraryCore/obj/ClassLibraryCore.csproj.nuget.g.props
/ClassLibraryCore/obj/ClassLibraryCore.csproj.nuget.dgspec.json
/.vs/UnitTestingForCoreApp/v16/TestStore/0/testlog.manifest
/.vs/UnitTestingForCoreApp/v16/TestStore/0/000.testlog
/NUnitTestProject1/obj/project.nuget.cache
/NUnitTestProject1/obj/project.assets.json
/NUnitTestProject1/obj/NUnitTestProject1.csproj.nuget.g.targets
/NUnitTestProject1/obj/NUnitTestProject1.csproj.nuget.g.props
/NUnitTestProject1/obj/NUnitTestProject1.csproj.nuget.dgspec.json
/NUnitTestProject1/obj/Debug/net5.0/ref/NUnitTestProject1.dll
/NUnitTestProject1/obj/Debug/net5.0/NUnitTestProject1.pdb
/NUnitTestProject1/obj/Debug/net5.0/NUnitTestProject1.genruntimeconfig.cache
/NUnitTestProject1/obj/Debug/net5.0/NUnitTestProject1.dll
/NUnitTestProject1/obj/Debug/net5.0/NUnitTestProject1.csproj.FileListAbsolute.txt
/NUnitTestProject1/obj/Debug/net5.0/NUnitTestProject1.csproj.CoreCompileInputs.cache
/NUnitTestProject1/obj/Debug/net5.0/NUnitTestProject1.csproj.CopyComplete
/NUnitTestProject1/obj/Debug/net5.0/NUnitTestProject1.assets.cache
/NUnitTestProject1/bin/Debug/net5.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/testhost.dll
/NUnitTestProject1/bin/Debug/net5.0/System.Xml.XPath.XmlDocument.dll
/NUnitTestProject1/bin/Debug/net5.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/ref/NUnitTestProject1.dll
/NUnitTestProject1/bin/Debug/net5.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/nunit_random_seed.tmp
/NUnitTestProject1/bin/Debug/net5.0/NUnitTestProject1.runtimeconfig.json
/NUnitTestProject1/bin/Debug/net5.0/NUnitTestProject1.runtimeconfig.dev.json
/NUnitTestProject1/bin/Debug/net5.0/NUnitTestProject1.pdb
/NUnitTestProject1/bin/Debug/net5.0/NUnitTestProject1.dll
/NUnitTestProject1/bin/Debug/net5.0/NUnitTestProject1.deps.json
/NUnitTestProject1/bin/Debug/net5.0/NUnit3.TestAdapter.pdb
/NUnitTestProject1/bin/Debug/net5.0/NUnit3.TestAdapter.dll
/NUnitTestProject1/bin/Debug/net5.0/nunit.framework.dll
/NUnitTestProject1/bin/Debug/net5.0/nunit.engine.dll
/NUnitTestProject1/bin/Debug/net5.0/nunit.engine.api.dll
/NUnitTestProject1/bin/Debug/net5.0/NuGet.Frameworks.dll
/NUnitTestProject1/bin/Debug/net5.0/Newtonsoft.Json.dll
/NUnitTestProject1/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/NUnitTestProject1/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.Common.dll
/NUnitTestProject1/bin/Debug/net5.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
/NUnitTestProject1/bin/Debug/net5.0/Microsoft.TestPlatform.Utilities.dll
/NUnitTestProject1/bin/Debug/net5.0/Microsoft.TestPlatform.PlatformAbstractions.dll
/NUnitTestProject1/bin/Debug/net5.0/Microsoft.TestPlatform.CrossPlatEngine.dll
/NUnitTestProject1/bin/Debug/net5.0/Microsoft.TestPlatform.CoreUtilities.dll
/NUnitTestProject1/bin/Debug/net5.0/Microsoft.TestPlatform.CommunicationUtilities.dll
/NUnitTestProject1/bin/Debug/net5.0/Microsoft.DotNet.InternalAbstractions.dll
/NUnitTestProject1/bin/Debug/net5.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
/NUnitTestProject1/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
