################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UnitTestingForCoreApp/v16/.suo
/XUnitTestProject1/obj/XUnitTestProject1.csproj.nuget.g.targets
/XUnitTestProject1/obj/XUnitTestProject1.csproj.nuget.g.props
/XUnitTestProject1/obj/XUnitTestProject1.csproj.nuget.dgspec.json
/XUnitTestProject1/obj/project.nuget.cache
/XUnitTestProject1/obj/project.assets.json
/XUnitTestProject1/obj/Debug/net5.0/XUnitTestProject1.GeneratedMSBuildEditorConfig.editorconfig
/XUnitTestProject1/obj/Debug/net5.0/XUnitTestProject1.csprojAssemblyReference.cache
/XUnitTestProject1/obj/Debug/net5.0/XUnitTestProject1.assets.cache
/XUnitTestProject1/obj/Debug/net5.0/XUnitTestProject1.AssemblyInfoInputs.cache
/XUnitTestProject1/obj/Debug/net5.0/XUnitTestProject1.AssemblyInfo.cs
/XUnitTestProject1/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/UnitTestMSTest/obj/UnitTestMSTest.csproj.nuget.g.targets
/UnitTestMSTest/obj/UnitTestMSTest.csproj.nuget.g.props
/UnitTestMSTest/obj/UnitTestMSTest.csproj.nuget.dgspec.json
/UnitTestMSTest/obj/project.nuget.cache
/UnitTestMSTest/obj/project.assets.json
/UnitTestMSTest/obj/Debug/net5.0/UnitTestMSTest.GeneratedMSBuildEditorConfig.editorconfig
/UnitTestMSTest/obj/Debug/net5.0/UnitTestMSTest.csprojAssemblyReference.cache
/UnitTestMSTest/obj/Debug/net5.0/UnitTestMSTest.assets.cache
/UnitTestMSTest/obj/Debug/net5.0/UnitTestMSTest.AssemblyInfoInputs.cache
/UnitTestMSTest/obj/Debug/net5.0/UnitTestMSTest.AssemblyInfo.cs
/UnitTestMSTest/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/NUnitTestProject1/obj/Debug/net5.0/NUnitTestProject1.GeneratedMSBuildEditorConfig.editorconfig
/NUnitTestProject1/obj/Debug/net5.0/NUnitTestProject1.AssemblyInfoInputs.cache
/NUnitTestProject1/obj/Debug/net5.0/NUnitTestProject1.AssemblyInfo.cs
/NUnitTestProject1/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/ConsoleApp/obj/project.nuget.cache
/ConsoleApp/obj/project.assets.json
/ConsoleApp/obj/Debug/net5.0/ConsoleApp.GeneratedMSBuildEditorConfig.editorconfig
/ConsoleApp/obj/Debug/net5.0/ConsoleApp.csprojAssemblyReference.cache
/ConsoleApp/obj/Debug/net5.0/ConsoleApp.assets.cache
/ConsoleApp/obj/Debug/net5.0/ConsoleApp.AssemblyInfoInputs.cache
/ConsoleApp/obj/Debug/net5.0/ConsoleApp.AssemblyInfo.cs
/ConsoleApp/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/ConsoleApp/obj/ConsoleApp.csproj.nuget.g.targets
/ConsoleApp/obj/ConsoleApp.csproj.nuget.g.props
/ConsoleApp/obj/ConsoleApp.csproj.nuget.dgspec.json
/ClassLibraryCore/obj/project.nuget.cache
/ClassLibraryCore/obj/project.assets.json
/ClassLibraryCore/obj/Debug/net5.0/ClassLibraryCore.GeneratedMSBuildEditorConfig.editorconfig
/ClassLibraryCore/obj/Debug/net5.0/ClassLibraryCore.csprojAssemblyReference.cache
/ClassLibraryCore/obj/Debug/net5.0/ClassLibraryCore.assets.cache
/ClassLibraryCore/obj/Debug/net5.0/ClassLibraryCore.AssemblyInfoInputs.cache
/ClassLibraryCore/obj/Debug/net5.0/ClassLibraryCore.AssemblyInfo.cs
/ClassLibraryCore/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/ClassLibraryCore/obj/ClassLibraryCore.csproj.nuget.g.targets
/ClassLibraryCore/obj/ClassLibraryCore.csproj.nuget.g.props
/ClassLibraryCore/obj/ClassLibraryCore.csproj.nuget.dgspec.json
/.vs/UnitTestingForCoreApp/v16/TestStore/0/testlog.manifest
/.vs/UnitTestingForCoreApp/v16/TestStore/0/000.testlog
